<html>
    <head>
        <title>Qoheleth | Post-Self Cycle book I</title>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="0; url=https://post-self.ink/books/qoheleth">
        <meta property="og:title" content="Qoheleth | Post-Self Cycle book I">
        <meta property="og:site_name" content="Post-Self">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://qoheleth.post-self.ink/cover.png">
        <meta property="og:url" content="https://post-self.ink/books/qoheleth/">
        <meta property="og:description" content="A science fiction setting focused on identity, memory, and individuation with uploaded consciousnesses">
        <script type=application/ld+json>{
            "@context":"http://schema.org",
            "@type":"WebSite",
            "name":"Qoheleth | Post-Self Cycle book I",
            "headline":"A science fiction setting focused on identity, memory, and individuation with uploaded consciousnesses",
            "url":"https:\/\/post-self.ink\/books\/qoheleth\/"
        }</script>
    </head>
</html>
